In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('books.csv',error_bad_lines=False,encoding= 'unicode_escape')

/Users/kuntal/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [36]:
df.head()

,level_0,index,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
4,8179,3003,25709,Summa Theologica 5 Vols,Thomas Aquinas,4.12,870610635,9.780000e+12,eng,3020.0,2734.0,84.0,1/1/81,Christian Classics
5,10429,732,30258,Harrison's Principles of Internal Medicine,Dennis L. Kasper/Dan L. Longo/Stephen L. Hause...,4.35,71391401,9.780000e+12,eng,2751.0,23.0,4.0,7/27/04,McGraw-Hill Medical Publishing
6,11096,32,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.780000e+12,eng,2690.0,41428.0,164.0,9/13/04,Scholastic
7,10057,1127,43888,The Sword of Truth Boxed Set I: Wizard's Firs...,Terry Goodkind,4.29,812575601,9.780000e+12,en-US,2480.0,4196.0,81.0,11/15/98,Tor Books
8,11066,61,23589,The J.R.R. Tolkien Companion and Guide,Christina Scull/Wayne G. Hammond,4.64,618391134,9.780000e+12,eng,2264.0,45.0,0.0,11/2/06,Houghton Mifflin Harcourt

In [69]:
df.tail()

,level_0,index,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
11118,9913,1261,21933,Point Of Impact (Bob Lee Swagger #1),Stephen Hunter/Beau Bridges,4.27,739344242,9.780000e+12,eng,0.0,15.0,1.0,1/9/07,RH Audio
11119,6501,4681,21931,The Day Before Midnight,Stephen Hunter/Philip Bosco,4.01,553452118,9.780000e+12,eng,0.0,1.0,0.0,12/1/89,Random House Audio
11120,1513,9591,13106,The Celestine Prophecy,James Redfield/Lou Diamond Phillips,3.64,1594831955,9.780000e+12,en-US,0.0,64.0,10.0,2/16/06,Grand Central Publishing
11121,1518,9633,35485,Five Rings of Fire (Able Team #11),Tom Arnett/Dick Stivers/Don Pendleton,3.64,373612117,9.780000e+12,eng,0.0,39.0,2.0,2/23/84,Gold Eagle
11122,4480,6708,23582,You're Good Enough You're Smart Enough &amp;...,Al Franken,3.89,553470949,9.780000e+12,en-US,0.0,18.0,0.0,10/1/92,Random House Audio Publishing Group

In [38]:
df.dropna()

,level_0,index,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
4,8179,3003,25709,Summa Theologica 5 Vols,Thomas Aquinas,4.12,870610635,9.780000e+12,eng,3020.0,2734.0,84.0,1/1/81,Christian Classics
5,10429,732,30258,Harrison's Principles of Internal Medicine,Dennis L. Kasper/Dan L. Longo/Stephen L. Hause...,4.35,71391401,9.780000e+12,eng,2751.0,23.0,4.0,7/27/04,McGraw-Hill Medical Publishing
6,11096,32,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.780000e+12,eng,2690.0,41428.0,164.0,9/13/04,Scholastic
7,10057,1127,43888,The Sword of Truth Boxed Set I: Wizard's Firs...,Terry Goodkind,4.29,812575601,9.780000e+12,en-US,2480.0,4196.0,81.0,11/15/98,Tor Books
8,11066,61,23589,The J.R.R. Tolkien Companion and Guide,Christina Scull/Wayne G. Hammond,4.64,618391134,9.780000e+12,eng,2264.0,45.0,0.0,11/2/06,Houghton Mifflin Harcourt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,9913,1261,21933,Point Of Impact (Bob Lee Swagger #1),Stephen Hunter/Beau Bridges,4.27,739344242,9.780000e+12,eng,0.0,15.0,1.0,1/9/07,RH Audio
11119,6501,4681,21931,The Day Before Midnight,Stephen Hunter/Philip Bosco,4.01,553452118,9.780000e+12,eng,0.0,1.0,0.0,12/1/89,Random House Audio
11120,1513,9591,13106,The Celestine Prophecy,James Redfield/Lou Diamond Phillips,3.64,1594831955,9.780000e+12,en-US,0.0,64.0,10.0,2/16/06,Grand Central Publishing
11121,1518,9633,35485,Five Rings of Fire (Able Team #11),Tom Arnett/Dick Stivers/Don Pendleton,3.64,373612117,9.780000e+12,eng,0.0,39.0,2.0,2/23/84,Gold Eagle
11122,4480,6708,23582,You're Good Enough You're Smart Enough &amp;...,Al Franken,3.89,553470949,9.780000e+12,en-US,0.0,18.0,0.0,10/1/92,Random House Audio Publishing Group

In [42]:
df=df.drop([11123,11124])

In [43]:
df.isnull().sum()

level_0               0
index                 0


bookID              0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
num_pages             0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

In [44]:
df.isna()

,level_0,index,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11119,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11120,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11121,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11122,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11119 entries, 4 to 11122
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   level_0             11119 non-null  int64
 1   index               11119 non-null  int64
 2   bookID            11119 non-null  object
 3   title               11119 non-null  object
 4   authors             11119 non-null  object
 5   average_rating      11119 non-null  float64
 6   isbn                11119 non-null  object
 7   isbn13              11119 non-null  float64
 8   language_code       11119 non-null  object
 9   num_pages           11119 non-null  float64
 10  ratings_count       11119 non-null  float64
 11  text_reviews_count  11119 non-null  float64
 12  publication_date    11119 non-null  object
 13  publisher           11119 non-null  object
dtypes: float64(5), int64(2), object(7)
memory usage: 1.3+ MB

In [46]:
df.describe()

,level_0,index,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11119.000000,11119.000000,11119.000000,1.111900e+04,11119.000000,1.111900e+04,11119.000000
mean,5563.105045,5562.898462,3.935575,9.759163e+12,335.047127,1.794660e+04,542.165393
std,3210.095364,3210.108390,0.342693,4.430240e+11,226.490863,1.125190e+05,2577.067309
min,4.000000,0.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,2783.500000,2783.500000,3.770000,9.780000e+12,192.000000,1.040000e+02,9.000000
50%,5563.000000,5563.000000,3.960000,9.780000e+12,299.000000,7.450000e+02,47.000000
75%,8342.500000,8342.500000,4.140000,9.780000e+12,416.000000,5.000500e+03,238.000000
max,11126.000000,11125.000000,5.000000,9.790000e+12,3020.000000,4.597666e+06,94265.000000

In [71]:
book_aut=df.groupby('authors')['title'].count().reset_index().sort_values('title', ascending=False).head(10).set_index('authors')
book_aut

                             title
authors
Stephen King                    40
P.G. Wodehouse                  40
Rumiko Takahashi                39
Orson Scott Card                35
Agatha Christie                 33
Piers Anthony                   30
Mercedes Lackey                 29
Sandra Brown                    29
Dick Francis                    28
Margaret Weis/Tracy Hickman     23

In [73]:
most_rated=df.sort_values('ratings_count',ascending=False).head(10).set_index('title')
most_rated

,level_0,index,bookID,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
title,,,,,,,,,,,,,
Twilight (Twilight #1),1208,9953,41865,Stephenie Meyer,3.59,316015849,9.780000e+12,eng,501.0,4597666.0,94265.0,9/6/06,Little Brown and Company
The Hobbit or There and Back Again,9869,1219,5907,J.R.R. Tolkien,4.27,618260307,9.780000e+12,eng,366.0,2530894.0,32871.0,8/15/02,Houghton Mifflin
The Catcher in the Rye,3110,7959,5107,J.D. Salinger,3.80,316769177,9.780000e+12,eng,277.0,2457092.0,43499.0,1/30/01,Back Bay Books
Angels &amp; Demons (Robert Langdon #1),4403,6616,960,Dan Brown,3.89,1416524797,9.780000e+12,eng,736.0,2418736.0,21303.0,4/1/06,Pocket Books
Harry Potter and the Prisoner of Azkaban (Harry Potter #3),10989,123,5,J.K. Rowling/Mary GrandPrÃ©,4.56,043965548X,9.780000e+12,eng,435.0,2339585.0,36325.0,5/1/04,Scholastic Inc.
Harry Potter and the Chamber of Secrets (Harry Potter #2),10696,432,15881,J.K. Rowling/Mary GrandPrÃ©,4.42,439064864,9.780000e+12,eng,341.0,2293963.0,34692.0,6/2/99,Arthur A. Levine Books / Scholastic Inc.
Harry Potter and the Order of the Phoenix (Harry Potter #5),10881,234,2,J.K. Rowling/Mary GrandPrÃ©,4.49,439358078,9.780000e+12,eng,870.0,2153167.0,29221.0,9/1/04,Scholastic Inc.
The Fellowship of the Ring (The Lord of the Rings #1),10447,633,34,J.R.R. Tolkien,4.36,618346252,9.780000e+12,eng,398.0,2128944.0,13670.0,9/5/03,Houghton Mifflin Harcourt
Animal Farm,5064,5996,7613,George Orwell/Boris Grabnar/Peter Å kerl,3.93,452284244,9.780000e+12,eng,122.0,2111750.0,29677.0,5/6/03,NAL
Harry Potter and the Half-Blood Prince (Harry Potter #6),11005,110,1,J.K. Rowling/Mary GrandPrÃ©,4.57,439785960,9.780000e+12,eng,652.0,2095690.0,27591.0,9/16/06,Scholastic Inc.

In [17]:
df=df.sort_values('num_pages', ascending=False).reset_index()
df=df.iloc[4:]
df.head(20)

,level_0,index,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
4,8179,3003,25709,Summa Theologica 5 Vols,Thomas Aquinas,4.12,870610635,9.780000e+12,eng,3020.0,2734.0,84.0,1/1/81,Christian Classics
5,10429,732,30258,Harrison's Principles of Internal Medicine,Dennis L. Kasper/Dan L. Longo/Stephen L. Hause...,4.35,71391401,9.780000e+12,eng,2751.0,23.0,4.0,7/27/04,McGraw-Hill Medical Publishing
6,11096,32,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.780000e+12,eng,2690.0,41428.0,164.0,9/13/04,Scholastic
7,10057,1127,43888,The Sword of Truth Boxed Set I: Wizard's Firs...,Terry Goodkind,4.29,812575601,9.780000e+12,en-US,2480.0,4196.0,81.0,11/15/98,Tor Books
8,11066,61,23589,The J.R.R. Tolkien Companion and Guide,Christina Scull/Wayne G. Hammond,4.64,618391134,9.780000e+12,eng,2264.0,45.0,0.0,11/2/06,Houghton Mifflin Harcourt
9,11082,45,20749,Study Bible: NIV,Anonymous,4.70,310929555,9.780000e+12,eng,2198.0,4166.0,186.0,10/1/02,Zondervan Publishing House
10,10729,375,3579,The Complete Anne of Green Gables Boxed Set (A...,L.M. Montgomery,4.43,553609416,7.678361e+10,eng,2088.0,98611.0,1447.0,10/6/98,Starfire
11,10059,1120,40012,Goodman &amp; Gilman's the Pharmacological Bas...,Laurence L. Brunton/John S. Lazo/Keith L. Parker,4.29,71422803,9.780000e+12,eng,2021.0,185.0,8.0,9/21/05,McGraw-Hill Professional Publishing
12,5987,5213,19406,The Decline and Fall of the Roman Empire,Edward Gibbon,3.98,1857151925,9.780000e+12,eng,1952.0,19.0,1.0,10/1/94,Everyman Chess
13,11067,60,3582,The New Annotated Sherlock Holmes: The Complet...,Arthur Conan Doyle/Leslie S. Klinger,4.64,393059162,9.780000e+12,eng,1878.0,1411.0,54.0,11/30/04,W. W. Norton &amp; Company
14,10863,276,17341,The Collected Letters of C.S. Lewis Volume 3:...,C.S. Lewis/Walter Hooper,4.47,60819227,9.780000e+12,eng,1840.0,144.0,16.0,1/9/07,HarperOne
15,10384,708,9462,Plato: Complete Works,Plato/John M. Cooper/Benjamin Jowett/Dorothea ...,4.35,872203492,9.780000e+12,eng,1838.0,9284.0,133.0,5/1/97,Hackett Publishing Company Inc.
16,10901,199,1417,The Complete Pelican Shakespeare,William Shakespeare/Stephen Orgel/A.R. Braunmu...,4.50,141000589,9.780000e+12,eng,1808.0,578.0,25.0,11/7/02,Viking
17,8891,2175,17582,The Norton Anthology of Short Fiction,Richard Bausch,4.18,393926117,9.780000e+12,en-US,1776.0,663.0,15.0,1/5/06,W. W. Norton &amp; Company
18,9499,1669,29906,The Collected Dialogues,Plato/Edith Hamilton/Huntington Cairns,4.23,691097186,9.780000e+12,eng,1776.0,704.0,31.0,9/15/63,Princeton University Press (NJ)
19,10751,396,19082,The Complete Works: The Revised Oxford Transla...,Aristotle/Jonathan Barnes,4.43,691099502,9.780000e+12,eng,1757.0,2318.0,17.0,9/1/84,Bollingen/Princeton University Press (NJ)
20,11028,89,30,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.59,345538374,9.780000e+12,eng,1728.0,101233.0,1550.0,9/25/12,Ballantine Books
21,10549,551,2329,The History of the Lord of the Rings (The Hist...,J.R.R. Tolkien/Christopher Tolkien,4.38,618083553,9.780000e+12,en-US,1680.0,237.0,3.0,9/1/00,Mariner Books
22,11033,94,15336,The Lord of the Rings / The Hobbit,J.R.R. Tolkien,4.59,7144083,9.780000e+12,eng,1600.0,141.0,5.0,10/7/02,Collins Modern Classics
23,6889,4134,1375,The Iliad/The Odyssey,Homer/Robert Fagles/Bernard Knox,4.04,147712556,9.780000e+12,eng,1556.0,54939.0,380.0,11/1/99,Penguin Classics

In [55]:
df2=df.copy()

In [56]:
df2.loc[(df2['average_rating']>=0)&(df2['average_rating']<=1),'rating between']="between 0 and 1"
df2.loc[(df2['average_rating']>1)&(df2['average_rating']<=2),'rating between']="between 1 and 2"
df2.loc[(df2['average_rating']>2)&(df2['average_rating']<=3),'rating between']="between 2 and 3"
df2.loc[(df2['average_rating']>3)&(df2['average_rating']<=4),'rating between']="between 3 and 4"
df2.loc[(df2['average_rating']>4)&(df2['average_rating']<=5),'rating between']="between 4 and 5"

In [57]:
df2.sort_values('average_rating')

,level_0,index,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,rating between
10800,15,11123,41044,Day and Night,Better Homes and Gardens,0.0,696018829,9.780000e+12,eng,32.0,0.0,1.0,3/1/89,Meredith Corporation,between 0 and 1
10979,8,11109,15186,American Film Guide,Frank N. Magill,0.0,893562505,9.780000e+12,eng,5.0,0.0,0.0,1/1/83,Salem Press Inc,between 0 and 1
10393,7,11108,12712,Brodie's notes on Aldous Huxley's brave new world,Graham Handley,0.0,333581296,9.780000e+12,eng,71.0,0.0,0.0,8/20/92,Macmillan,between 0 and 1
5333,5,11106,9338,Insights: Talks On The Nature Of Existence,Frederick P. Lenz,0.0,1932206086,9.780000e+12,eng,304.0,0.0,0.0,1/1/03,Frederick P. Lenz Foundation for American Budd...,between 0 and 1
6885,21,11117,28467,Sclerotherapy and vein treatment,Robert A. Weiss/Margaret A. Weiss/Karen L. Bea...,0.0,71485422,9.780000e+12,eng,248.0,0.0,0.0,12/30/11,McGraw-Hill Professional Publishing,between 0 and 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10263,11109,5,2560,Willem de Kooning: Late Paintings,Julie Sylvester/David Sylvester,5.0,382960226,9.780000e+12,eng,83.0,1.0,0.0,9/1/06,Schirmer Mosel,between 4 and 5
9696,11112,8,14741,Zone of the Enders: The 2nd Runner Official St...,Tim Bogenn,5.0,744002354,9.780000e+12,eng,128.0,2.0,0.0,3/6/03,BradyGames,between 4 and 5
3869,11108,4,2034,Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...,Aristophanes/F.W. Hall/W.M. Geldart,5.0,198145047,9.780000e+12,grc,364.0,0.0,0.0,2/22/22,Oxford University Press USA,between 4 and 5
4542,11123,19,32823,Fanning the Flame: Bible Cross and Mission,Chris Green/Chris Wright/Paul Douglas Gardner,5.0,310249872,9.780000e+12,eng,336.0,1.0,1.0,6/17/03,Zondervan,between 4 and 5
9715,11111,7,4287,Middlesex Borough (Images of America: New Jersey),Middlesex Borough Heritage Committee,5.0,738511676,9.780000e+12,eng,128.0,2.0,0.0,3/17/03,Arcadia Publishing,between 4 and 5

In [58]:
rating_df=pd.get_dummies(df2['rating between'])
language_df=pd.get_dummies(df2['language_code'])

In [59]:
language_df

,ale,ara,en-CA,en-GB,en-US,eng,enm,fre,ger,gla,...,nl,nor,por,rus,spa,srp,swe,tur,wel,zho
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11119,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11120,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11121,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11122,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
feature=pd.concat([rating_df, language_df, df2['average_rating'], df2['ratings_count']], axis=1)

In [61]:
feature

,between 0 and 1,between 1 and 2,between 2 and 3,between 3 and 4,between 4 and 5,ale,ara,en-CA,en-GB,en-US,...,por,rus,spa,srp,swe,tur,wel,zho,average_rating,ratings_count
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.12,2734.0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.35,23.0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.78,41428.0
7,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.29,4196.0
8,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.64,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.27,15.0
11119,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.01,1.0
11120,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.64,64.0
11121,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.64,39.0
11122,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.89,18.0

In [62]:
from sklearn.preprocessing import MinMaxScaler

minmax=MinMaxScaler()

feature=minmax.fit_transform(feature)

In [80]:
from sklearn import neighbors
from sklearn.model_selection import train_test_split

model=neighbors.NearestNeighbors(n_neighbors=8, algorithm='ball_tree')

model.fit(feature)

dist, idlist=model.kneighbors(feature)

In [66]:
dist

array([[0.00000000e+00, 8.70006651e-06, 3.06677345e-05, ...,
        1.87921437e-04, 2.04886566e-04, 2.06844081e-04],
       [0.00000000e+00, 1.08750831e-06, 1.30500998e-06, ...,
        4.78503658e-06, 6.30754822e-06, 9.78757483e-06],
       [0.00000000e+00, 5.52952511e-03, 8.24724982e-03, ...,
        1.32715741e-02, 1.34398111e-02, 1.34598833e-02],
       ...,
       [0.00000000e+00, 9.78757483e-06, 4.48053425e-05, ...,
        7.96056086e-05, 8.74356684e-05, 1.02008280e-04],
       [0.00000000e+00, 4.35003326e-07, 6.52504988e-07, ...,
        2.82752162e-06, 3.26252494e-06, 3.48002660e-06],
       [0.00000000e+00, 2.17501663e-07, 4.35003326e-06, ...,
        1.37026048e-05, 2.97977278e-05, 3.19727444e-05]])

In [67]:
idlist

array([[    0,  7975,  3088, ...,  6264,   755,  2858],
       [    1,  7272, 11036, ...,  5688,  5355,  9684],
       [    2,  8915,    34, ...,  8939,  9315,  5054],
       ...,
       [11116,   460,  4933, ...,  6972,  7175,  8086],
       [11117,  6526,  1987, ...,  2947,  9669,  9977],
       [11118,   341,  5597, ...,  1660,  3506,  4852]])

In [68]:
def bookRecom(name):
    book_list=[]
    book_id=df2[df2['title']==name].index
    book_id=book_id[0]
    for new in idlist[book_id]:
        book_list.append(df2.loc[new].title)
    return book_list

Book_name=bookRecom('Harry Potter and the Half-Blood Prince (Harry Potter  #6)')
Book_name

['Harry Potter and the Half-Blood Prince (Harry Potter  #6)',
 'The Portrait of a Lady',
 'Scribble  Scribble: Notes on the Media',
 'The Crucible',
 'The Dispossessed',
 "Rocketman: Astronaut Pete Conrad's Incredible Ride to the Moon and Beyond",
 'Hard Eight (Stephanie Plum  #8)',
 "Hegel's Phenomenology of Spirit"]